*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

body{

height:100vh;

display:flex;

justify-content:center;

align-items:center;

background:linear-gradient(-45deg,
#ff9933,
white,
#138808,
#000080);

background-size:400% 400%;

animation:bg 10s infinite;

overflow:hidden;

}

@keyframes bg{

0%{background-position:0% 50%;}

50%{background-position:100% 50%;}

100%{background-position:0% 50%;}

}

.overlay{

text-align:center;

background:rgba(0,0,0,.4);

padding:50px;

border-radius:20px;

color:white;

box-shadow:0 0 30px white;

}

h1{

font-size:60px;

animation:zoom 2s infinite alternate;

}

@keyframes zoom{

from{transform:scale(1);}

to{transform:scale(1.1);}

}

h2{

font-size:35px;

margin:20px;

}

p{

font-size:22px;

line-height:40px;

margin-bottom:30px;

}

#flag{

width:260px;

margin:auto;

border:3px solid white;

}

.orange{

height:50px;

background:#ff9933;

}

.white{

height:50px;

background:white;

}

.green{

height:50px;

background:#138808;

}

#countdown{

margin-top:30px;

font-size:35px;

color:yellow;

}